<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bombeiros WebSocket</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</head>

<body>
    <div class="container col-md-8">
        <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link " href="#">Bombeiros App</a>
            </li>
          </ul>
        <div class="container col-md-12">
            <div class="col-md-12" id="chat">
                <textarea name="textarea"  cols="80" rows="20"></textarea>
                <div class="input-group">
                    <input type="text" 
                        class="form-control" 
                        placeholder="Mensagem"
                        name="mensagem"
                        id="mensagem"> 

                        <input 
                            type="text" 
                            id="username" 
                            hidden
                            value="">
                            
                    <span class="input-group-btn">
                        <button 
                            class="btn btn-success" 
                            type="button"
                            id="btnEnviar"
                            onclick="enviar()">></button>

            

        </div>
    </div>


    <script src="/socket.io/socket.io.js"></script>
    <script>
        const SERVER_URL = 'http://localhost:5000';
        const socket = io(SERVER_URL);

        function enviar() {
            const userField = document.getElementById('username');
            const messageField = document.getElementById('mensagem');

            const usuario = userField.value;
            const message = messageField.value;

            socket.emit('iniciaChat', {usuario, message});
        }

        socket.on('showMessage', (xpto) => {
            const chatScreen = document.getElementById('chat');
            console.log('dado vindo do servidor: ', xpto);
            const p = document.createElement('p');
            chatScreen.innerHTML = `User: ${xpto.usuario}<br> Mensagem: ${xpto.message}`;
        });

    </script>
</body>

</html>